{% extends 'NewscoopIngestPluginBundle:Admin:_boilerplate.html.twig' %}

{% block admin_content %}
    {% set menuActive = 'parsers' %}

    {{ parent() }}
{% endblock %}

{% block plugin_content %}
    <div class="actionbar">
        <a href="{{ path('newscoop_ingestplugin_parser_update') }}" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-refresh"></span>
            {{ 'plugin.ingest.parsers.update'|trans }}
        </a>
    </div>

    <table id="parsers_list" class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'plugin.ingest.parsers.activated'|trans }}</th>
                <th>{{ 'plugin.ingest.parsers.name'|trans }}</th>
                <th>{{ 'plugin.ingest.parsers.description'|trans }}</th>
                <th>{{ 'plugin.ingest.parsers.domain'|trans }}</th>
                <th>{{ 'plugin.ingest.parsers.feeds'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if parsers %}
                {% for parser in parsers %}
                    <tr id="parser_{{ parser.id }}">
                        <td>
                            <input type="checkbox" id="parser_active_{{ parser.id }}" value="1" {% if parser.active %}checked {% endif %}/>
                        </td>
                        <td>{{ parser.name }}</td>
                        <td>{{ parser.description }}</td>
                        <td>{{ parser.domain }}</td>
                        <td>{{ parser.feeds|length }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                    <td colspan="5">{{ 'plugin.ingest.parsers.none'|trans }}.</td>
                <tr>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}
