{# Do not remove wrapper div #}
<div class="form_wrapper">
    {{ form_start(form, { 'attr': { 'class': 'form_feed'} }) }}

        {{ form_row(form.name) }}
        {{ form_row(form.url) }}
        {{ form_row(form.mode) }}
        {{ form_row(form.publication) }}

        {% if form.sections is defined %}
            {{ form_row(form.sections) }}
        {% endif %}

        {{ form_rest(form) }}

    {{ form_end(form) }}
</div>
