{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.ingest.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.ingest.header'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopingestplugin/css/bootstrap.min.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript" src="{{ asset('public/bundles/newscoopingestplugin/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block admin_content %}
<ul class="nav nav-tabs">
    <li class="{{ contentActive }}"><a href="{{ path('newscoop_ingestplugin_admin_content') }}">{{ 'plugin.ingest.tabs.content'|trans }}</a></li>
    <li class="{{ feedsActive }}"><a href="{{ path('newscoop_ingestplugin_admin_feed') }}">{{ 'plugin.ingest.tabs.feeds'|trans }}</a></li>
    <li class="{{ parsersActive }}"><a href="{{ path('newscoop_ingestplugin_admin_parser') }}">{{ 'plugin.ingest.tabs.parsers'|trans }}</a></li>
</ul>
{% endblock %}
