<ul class="nav nav-tabs">
    <li class="{% if menuActive == 'entries' %}active{% endif %}">
        <a href="{{ path('newscoop_ingestplugin_admin_entry') }}">
            {{ 'plugin.ingest.tabs.entries'|trans }}
        </a>
    </li>
    <li class="{% if menuActive == 'feeds' %}active{% endif %}">
        <a href="{{ path('newscoop_ingestplugin_admin_feed') }}">
            {{ 'plugin.ingest.tabs.feeds'|trans }}
        </a>
    </li>
    <li class="{% if menuActive == 'parsers' %}active{% endif %}">
        <a href="{{ path('newscoop_ingestplugin_admin_parser') }}">
            {{ 'plugin.ingest.tabs.parsers'|trans }}
        </a>
    </li>
</ul>
