<a href="https://github.com/newscoop/plugin-IngestPluginBundle/blob/master/README.md" target="_blank" class="btn btn-sm btn-info pull-right">
    {{ 'plugin.ingest.tabs.readme'|trans }}
    <span class="glyphicon glyphicon-new-window"></span>
</a>
<ul class="nav nav-tabs">
    <li class="{% if menuActive == 'entries' %}active{% endif %}">
        <a href="{{ path('newscoop_ingestplugin_entry_list') }}">
            {{ 'plugin.ingest.tabs.entries'|trans }}
        </a>
    </li>
    <li class="{% if menuActive == 'feeds' %}active{% endif %}">
        <a href="{{ path('newscoop_ingestplugin_feed_list') }}">
            {{ 'plugin.ingest.tabs.feeds'|trans }}
        </a>
    </li>
    <li class="{% if menuActive == 'parsers' %}active{% endif %}">
        <a href="{{ path('newscoop_ingestplugin_parser_list') }}">
            {{ 'plugin.ingest.tabs.parsers'|trans }}
        </a>
    </li>
    {% if hasPermission('plugin_ingest_settings') %}
        <li class="{% if menuActive == 'settings' %}active{% endif %}">
            <a href="{{ path('newscoop_ingestplugin_settings_index') }}">
                {{ 'plugin.ingest.tabs.settings'|trans }}
            </a>
        </li>
    {% endif %}

</ul>
