{% block feed_form %}

{# {% form_theme form with ['NewscoopIngestPluginBundle:Form:_bootstrap_3_horizontal_layout.html.twig', _self] %} #}
{% form_theme form with ['NewscoopIngestPluginBundle:Form:form_template.html.twig', _self] %}

{{ form_start(form, { 'attr': { 'class': 'form_feed_type'} }) }}

    {{ form_errors(form) }}

    {{ form_row(form.enabled) }}
    {{ form_row(form.name) }}
    {{ form_row(form.parser) }}

    {% if form.url is defined %}
        {{ form_row(form.url) }}
    {% endif %}

    {{ form_row(form.mode) }}
    {{ form_row(form.language) }}

    {% if form.publication is defined %}
        {{ form_row(form.publication) }}
    {% endif %}

    {% if form.issue is defined %}
        {{ form_row(form.issue) }}
    {% endif %}

    {% if form.sections is defined %}
        {{ form_row(form.sections) }}
    {% endif %}

    {% if form.topics is defined %}
        {{ form_row(form.topics) }}
    {% endif %}

    <div class="col-sm-offset-2">
        {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-primary'} }) }}
        {{ form_widget(form.cancel, {'attr' : {'class' : 'btn btn-default btn-js-click', 'data-url' : path('newscoop_ingestplugin_feed_list') } }) }}
    </div>

    {{ form_rest(form) }}

{{ form_end(form) }}

<script type="text/javascript">
    var topicsSearchPath = "{{ path('newscoop_ingestplugin_feed_findtopics') }}",
        issueSearchPath = "{{ path('newscoop_ingestplugin_feed_findissue') }}",
        sectionsSearchPath = "{{ path('newscoop_ingestplugin_feed_findsections') }}",
        issuePlaceholder = "{{ 'plugin.ingest.feeds.issue_latest'|trans }}",
        sectionPlaceholder = "{{ 'plugin.ingest.feeds.section_placeholder'|trans }}",
        topicPlaceholder = "{{ 'plugin.ingest.feeds.topic_placeholder'|trans }}";
</script>

{% endblock feed_form %}
